<%- include('layout') %> 
<div>
  <h2>All Blog Posts</h2>
  <ul>
    <% blogs.forEach(blog => { %>
      <li>
        <h3><a href="/edit/<%= blog._id %>"><%= blog.title %></a></h3>
        <p><%= blog.content.slice(0, 100) %>...</p>
        <a href="/delete/<%= blog._id %>">Delete</a>
      </li>
    <% }) %>
  </ul>
</div>